.form-control{
    width: 100%;
}

.form-control:focus{
    border-color: #E76F51;
    box-shadow: 0 0 0 0.25rem rgba(231,111,81,0.3)
}

.form-container{
    position: relative;
    grid-template-columns: 6fr 1fr 1fr;
    gap: 30px;
}

/* .button-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
} */

@media only screen and (max-width: 768px){
    .form-container{
        grid-template-columns: 1fr;
    }
    /* .button-container{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 25px;
    } */
}