img.hero{
    width:100%;
    position: absolute;
    z-index: -99;
    top: 0;
    object-fit: cover;
    height: 800px;
}

.tagline{
    position: relative;
    top: 170px;
    color: white;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}

.header{
    text-align: center;
    font-size: 50px;
}   

.sub-header{
    font-size: 20px;
}

