.navbar{
    background-color: transparent;
    color: white;
    font-weight: 700;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    padding: 20px;
}

.navbar-brand{
    font-size: 25px;
}

.navbar-nav,a{
    font-size: 20px;
    font-weight: 600;
    color: white !important;
}

.nav-link{
    transition: all 0.3s ease;
}

.nav-link:hover{
    transform: translateY(-7px);
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border: 3px solid rgba(255,255,255,1);
}

@media only screen and (min-width: 992px){
    .nav-link:first-of-type{
        background-color: #e76f51;
        border-radius: 25px;
        padding: 0.5rem 20px !important;
        box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    }
    .nav-link:first-of-type:focus{
        box-shadow: 1px 3px 3px rgba(231,111,81,0.5);
    }
}